<meta charset="UTF-8"></meta>

<meta
  http-equiv="X-UA-Compatible"
  content="IE=edge">
</meta>

<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0">
</meta>

<link
  href="{{ url_for('static', path ='/style.css')}}"
  rel="stylesheet">
</link>

<title>Login</title>

<div id="login">
  <form
    class="card"
    method="POST">
    <div class="card-header"><h2>Login</h2></div>

    <div class="card-content">
      <div class="card-content-area">
        <label for="username">Usuário</label>

        <input
          id="username"
          autocomplete="off"
          name="username"
          type="text"
          placeholder="Email / CPF / PIS"/>
      </div>

      <div class="card-content-area">
        <label for="password">Senha</label>

        <input
          id="password"
          autocomplete="off"
          name="password"
          type="password"
          placeholder="Digite sua senha"/>
      </div>
    </div>

    <div class="card-footer">
      <input
        class="submit"
        type="submit"
        value="Entrar"/>
    </div>

    <div class="card-footer">
      <a
        class="submit"
        href="{{ url_for('singup') }}">
        Cadastrar
      </a>
    </div>
  </form>
</div>
