<meta charset="UTF-8"></meta>

<meta
  http-equiv="X-UA-Compatible"
  content="IE=edge">
</meta>

<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0">
</meta>

<link
  href="{{ url_for('static', path ='/style.css')}}"
  rel="stylesheet">
</link>

<title>Registre-se</title>

<div id="login">
  <form
    class="card"
    method="POST">
    <div class="card-header"><h2>Cadastre seu endereço</h2></div>

    <div class="card-content">
      <div class="card-content-area">
        <label for="country">País</label>

        <input
          style="font: 500 15px sans-serif"
          required
          value="{{country}}"
          id="country"
          autocomplete="off"
          name="country"
          type="text"/>
      </div>

      <div class="card-content-area">
        <label for="state">Estado</label>

        <input
          style="font: 500 15px sans-serif"
          required
          value="{{state}}"
          id="state"
          autocomplete="off"
          name="state"
          type="text"/>
      </div>

      <div class="card-content-area">
        <label for="city">Cidade</label>

        <input
          style="font: 500 15px sans-serif"
          required
          value="{{city}}"
          id="city"
          autocomplete="off"
          name="city"
          type="text"/>
      </div>

      <div class="card-content-area">
        <label for="cep">CEP</label>

        <input
          style="font: 500 15px sans-serif"
          required
          value="{{cep}}"
          id="cep"
          autocomplete="off"
          name="cep"
          type="text"/>
      </div>

      <div class="card-content-area">
        <label for="street">Rua</label>

        <input
          style="font: 500 15px sans-serif"
          required
          value="{{street}}"
          id="street"
          autocomplete="off"
          name="street"
          type="text"/>
      </div>

      <div class="card-content-area">
        <label for="number">Número</label>

        <input
          style="font: 500 15px sans-serif"
          required
          value="{{number}}"
          id="number"
          autocomplete="off"
          name="number"
          type="text"/>
      </div>

      <div class="card-content-area">
        <label for="complement">Complemento</label>

        <input
          style="font: 500 15px sans-serif"
          required
          value="{{complement}}"
          id="complement"
          autocomplete="off"
          name="complement"
          type="text"/>
      </div>

    </div>

    <div class="card-footer">
      <input
        style="font: 500 15px sans-serif"
        class="submit"
        type="submit"
        value="Salvar"/>
    </div>

    <div class="card-footer">
      <a
        href="{{ url_for('home') }}"
        style="font: 500 15px sans-serif; letter-spacing: 0.01px; color: #FFFFFF;
         text-decoration:none">
        Voltar
      </a>
    </div>

  </form>
</div>
