<meta
  name="viewport"
  content="width=device-width, initial-scale=1">
</meta>

<style>
  body{   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: #454d6b; } .container {   padding: 50px;   background-color: #454d6b; }
  input[type=text], input[type=password], textarea {   width: 100%;   padding: 15px;   margin: 5px 0
  22px 0;   display: inline-block;   border: none;   background: rgba(19, 19, 19, 0.3); }
  input[type=text]:focus, input[type=password]:focus {   background-color: #FFFFFF;   outline: none;
  }  div {             padding: 10px 0;          } hr {   border: 1px solid #fff;   margin-bottom:
  25px; } .card-footer { display: flex; flex-direction: column; } .card-footer .submit{
  width: 100%;        height: 40px;        background-color: #a13854;        border:none;
  color:#e1e1e1;        margin: 10px 0;    }
</style>

<form method="POST">
  <div class="container">
    <center><h1>Bem vindo a página de usuários</h1></center>

    <hr></hr>

    <label for="nome"><b>Nome Completo</b></label>

    <input
      id="nome"
      autocomplete="off"
      name="nome"
      value="{{nome}}"
      required
      type="text"/>
    <label for="email"><b>Email</b></label>

    <input
      id="email"
      autocomplete="off"
      name="email"
      required
      value="{{email}}"
      type="text"/>
    <label for="cpf"><b>CPF</b></label>

    <input
      id="cpf"
      autocomplete="off"
      name="cpf"
      required
      value="{{cpf}}"
      type="text"/>
    <label for="pis"><b>PIS</b></label>

    <input
      id="pis"
      autocomplete="off"
      name="pis"
      required
      value="{{pis}}"
      type="text"/>
    <label for="country"><b>País</b></label>

    <input
      id="country"
      autocomplete="off"
      name="country"
      required
      value="{{country}}"
      type="text"/>
    <label for="state"><b>Estado</b></label>

    <input
      id="state"
      autocomplete="off"
      name="state"
      required
      value="{{state}}"
      type="text"/>
    <label for="city"><b>Cidade</b></label>

    <input
      id="city"
      autocomplete="off"
      name="city"
      required
      value="{{city}}"
      type="text"/>
    <label for="cep"><b>CEP</b></label>

    <input
      id="cep"
      autocomplete="off"
      name="cep"
      required
      value="{{cep}}"
      type="text"/>
    <label for="street"><b>Rua</b></label>

    <input
      id="street"
      autocomplete="off"
      name="street"
      required
      value="{{street}}"
      type="text"/>
    <label for="number"><b>Número</b></label>

    <input
      id="number"
      autocomplete="off"
      name="number"
      required
      value="{{number}}"
      type="text"/>
    <label for="complement"><b>Complemento</b></label>

    <input
      id="complement"
      autocomplete="off"
      name="complement"
      required
      value="{{complement}}"
      type="text"/>
    <label for="password"><b>Senha</b></label>

    <input
      id="password"
      autocomplete="off"
      name="password"
      required
      type="password"/>
    <label for="password2"><b>Digite novamente a senha</b></label>

    <input
      id="password2"
      autocomplete="off"
      name="password2"
      required
      type="password"/>
    <center>
      <div class="card-footer">
        <input
          class="submit"
          type="submit"
          value="Atualizar"/>
      </div>

      <div class="card-footer">
        <a
          class="submit"
          href="{{ url_for('delete_user') }}">
          Excluir conta
        </a>
      </div>

      <div class="card-footer">
        <a
          class="submit"
          href="{{ url_for('home') }}">
          Voltar
        </a>
      </div>
    </center>
  </div>
</form>
