<meta charset="UTF-8"></meta>

<meta
  http-equiv="X-UA-Compatible"
  content="IE=edge">
</meta>

<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0">
</meta>

<link
  href="{{ url_for('static', path ='/style.css')}}"
  rel="stylesheet">
</link>

<title>Bem vindo!</title>

<div id="login">
  <form
    class="card"
    method="POST">
    <div class="card-header"><h2>Olá {{ username }}!</h2></div>

    <div class="card-footer">
      <a
        class="submit"
        href="{{ url_for('edit_user') }}"
        style="font: 500 15px sans-serif"
        type="submit">
        Editar dados do usuário
      </a>
    </div>

    <div class="card-footer">
      <a
        href="{{ url_for('initial_page_get') }}"
        style="font: 500 15px sans-serif">
        Sair
      </a>
    </div>
  </form>
</div>
