<meta charset="UTF-8"></meta>

<meta
  http-equiv="X-UA-Compatible"
  content="IE=edge">
</meta>

<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0">
</meta>

<link
  href="{{ url_for('static', path ='/style.css')}}"
  rel="stylesheet">
</link>

<title>Registre-se</title>

<div id="login">
  <form
    class="card"
    method="POST">
    <div class="card-header"><h2>Registre-se</h2></div>

    <div class="card-content">
      <div class="card-content-area">
        <label for="nome">Nome</label>

        <input
          id="nome"
          autocomplete="off"
          name="nome"
          type="text"/>
      </div>

      <div class="card-content-area">
        <label for="email">Email</label>

        <input
          id="email"
          autocomplete="off"
          name="email"
          type="text"/>
      </div>

      <div class="card-content-area">
        <label for="cpf">CPF</label>

        <input
          id="cpf"
          autocomplete="off"
          name="cpf"
          type="text"/>
      </div>

      <div class="card-content-area">
        <label for="pis">PIS</label>

        <input
          id="pis"
          autocomplete="off"
          name="pis"
          type="text"/>
      </div>

      <div class="card-content-area">
        <label for="password">Senha</label>

        <input
          id="password"
          autocomplete="off"
          name="password"
          type="password"/>
      </div>

      <div class="card-content-area">
        <label for="password2">Digite novamente a senha</label>

        <input
          id="password2"
          autocomplete="off"
          name="password2"
          type="password"/>
      </div>
    </div>

    <div class="card-footer">
      <input
        class="submit"
        type="submit"
        value="Cadastrar"/>
    </div>
  </form>
</div>
